@{
    ViewBag.Title = "Home";
}

<div class="row">
    <!-- main -->
    <div class="col-md-8">
        <div class="article-block">
            <div class="article-block-title">
                Sunshine may slow weight gain and...
            </div>
            <div class="row article-block-detail" >
                <div class="col-md-3 article-block-author">
                    <span class="glyphicon glyphicon-user"></span>
                    Qilei Ren
                </div>
                <div class="col-md-3 article-block-time">
                    <span class="glyphicon glyphicon-time"></span>
                    2014/10/26
                </div>
            </div>
            <div class="article-block-main">
                Exposure to moderate amounts of sunshine may slow the development of obesity and diabetes, a study suggests.
                Scientists, including those at the University of Southampton, who looked at the effect of sunlight on mice say further research will be needed to confirm whether it has the same effect on people.
                The researchers showed that shining UV light at overfed mice slowed their weight gain. The mice displayed fewer of the warning signs linked to diabetes, such as abnormal glucose levels and resistance to insulin.
                The beneficial effects of UV treatment were linked to a compound called nitric oxide, which is released by the skin after exposure to sunlight...
            </div>
            <div class="article-block-attribute">
                <span class="glyphicon glyphicon-tags"></span>
                Southamtpon, News, Sussed
                
            </div>
        </div>
    </div>
    <!-- sidebar -->
    <div class="col-md-4">

    </div>
</div>